.intro__title {
  margin-bottom: 15px;
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;

  &--project {
    max-width: 300px;
  }

  &--works {
    max-width: 350px;
  }
}

.intro__bg {
  width: 635px;
  height: 614px;
  background: url('../img/intro-bg.jpg') no-repeat center;
  position: absolute;
  right: auto;
  left: 50%;
  top: 0;
  z-index: -1;

  &--development {
    background-image: url('../img/intro-development-bg.jpg');
  }

  &--works {
    background-image: url('../img/intro-works-bg.jpg');
  }
}

.intro__bg-tablet {
  display: none;
  width: 100%;
  height: 300px;
  background: url('../img/intro-bg-tablet.jpg') no-repeat center;
  background-size: cover;

  &--development {
    background-image: url('../img/intro-bg-tablet-development.jpg');
  }

  &--works {
    background-image: url('../img/intro-bg-tablet-works.jpg');
  }
}

.intro__text {
  max-width: 450px;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 400;

  p + p {
    margin-top: 10px;
  }
}

.intro__list {
  width: max-content;
  padding: 0 13px;
  margin: 0;
  list-style: none;
  display: flex;
  background: linear-gradient(122.08deg, #02A34E 0%, #00AA50 41.6%, #01BE5A 90.77%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, .66);

  &--development {
    width: 892px;
  }
}

.intro__list-item {
  padding: 38px 20px 38px 0;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  display: flex;
  align-items: center;
}

.intro__list-item + .intro__list-item {
  padding-left: 20px;
  border-left: 1px solid $white;
}

@media (max-width: 1399px) {
  .intro__bg {
    width: 630px;
  }
}

@media (max-width: 1279px) {
  .intro__bg {
    display: none;
  }

  .intro__bg-tablet {
    display: block;
  }

  .intro__title {
    margin-bottom: 25px;
    font-size: 30px;
  }

  .intro__title--project {
    max-width: 100%;
  }

  .intro {
    display: flex;
    flex-direction: column;
  }

  .intro__text {
    max-width: 100%;
    margin: 0;
    order: 6;
  }

  .intro__list {
    margin-top: -60px;
    margin-bottom: 25px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;

    &--development {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .intro__list-item + .intro__list-item {
    padding-left: 0;
    border: none;
  }

  .intro__list-item {
    padding: 15px 0;
    align-items: flex-start;

    &:first-of-type {
      border-bottom: 1px solid $white;
    }

    &:nth-of-type(2) {
      border-bottom: 1px solid $white;
    }
  }

  .intro__list--development .intro__list-item:nth-of-type(3) {
    border-bottom: 1px solid $white;
  }
}

@media (max-width: 767px) {
  .intro__bg-tablet {
    display: none;
  }

  .intro__list {
    display: none;
  }

  .intro__title {
    text-align: center;
  }

  .intro__text {
    margin: 0 0 55px;
    text-align: center;
  }
}