.section {
  margin-bottom: 85px;
}

.section--intro {
  position: relative;
  padding-top: 134px;
}

@media (max-width: 1279px) {
  .section--intro {
    padding-top: 104px;
  }

  .section--intro-object {
    padding-top: 217px;
    background: url('../img/intro-bg-tablet-object.jpg') no-repeat center;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .section--intro {
    padding-top: 121px;
    background: url('../img/intro-bg-mobile.jpg') no-repeat center;
    background-size: cover;

    &-development {
      background-image: url('../img/intro-bg-mobile-development.jpg');
    }

    &-works {
      background-image: url('../img/intro-bg-mobile-works.jpg');
    }

    &-object {
      background-image: url('../img/intro-bg-mobile-object.jpg');
    }
  }

  .section--intro-object {
    padding-top: 132px;
  }

  .section--contacts {
    display: none;
  }
}