.swiper-container {
  padding-top: 50px!important;
  width: 100%;
  min-height: 510px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.swiper-slide__inner {
  position: relative;
}

.swiper-slide a {
  text-decoration: none;
  color: $white;
}

.swiper-slide h5 {
  color: #f4f5f0;
}

.swiper-slide__content {
  display: none;
}

.swiper-slide__link {
  display: none;
}

.swiper-slide__link svg {
  margin-left: 5px;
  stroke: rgba(255, 255, 255, .5);
}

.swiper-slide__counter {
  margin-bottom: 15px;
}

.swiper-slide__border {
  margin-bottom: 10px;
  width: 155px;
  height: 2px;
  background-color: rgba(255, 255, 255, .5);
}

.swiper-slide-active .swiper-slide__content {
  display: block;
  text-align: center;
}

.swiper-slide-active .swiper-slide__counter,
.swiper-slide-active .swiper-slide__border {
  display: none;
}

.swiper-slide-active h5 {
  font-size: 28px;
  font-weight: 600;
}

.swiper-slide-active .swiper-slide__content {
  padding-top: 24px;
}

.swiper-slide-active .swiper-slide__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide-prev .swiper-slide__content {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.swiper-slide-next .swiper-slide__content {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.swiper-slide__city {
  margin-bottom: -20px;
  padding: 18px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: top left;

  svg {
    margin-right: 5px;
    transform: rotate(90deg);
  }
}

.swiper-slide__link {
  margin-top: 10px;
  color: rgba(255, 255, 255, .5);

  svg {
    margin-right: 5px;
  }
}

.swiper-container .swiper-pagination {
  position: absolute;
  top: 0;
  right: 100px;
  width: auto;
  height: auto;
  left: auto;
  bottom: auto;
  margin: 0;

  display: flex;
  align-items: center;

  font-size: 16px;
  color: rgba(255, 255, 255, .6);

  span {
    font-size: 0;
    margin: 0 5px;
    display: block;
    width: 35px;
    height: 1px;
    background: rgba(255, 255, 255, .6);
  }
}

.swiper-slide__inner .swiper-slide__link {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@media (max-width: 1279px) {
  .swiper-container .swiper-pagination {
    right: 20px;
  }

  .swiper-slide-next .swiper-slide__content,
  .swiper-slide-prev .swiper-slide__content {
    display: none;
  }

  .swiper-slide-active h5 {
    font-size: 21px;
  }
}

@media (max-width: 767px) {
  .swiper-container {
    padding: 40px 40px 0!important;
    min-height: 400px;
  }

  .swiper-slide__content .swiper-slide__link {
    display: none;
  }

  .swiper-slide__inner .swiper-slide__link {
    margin: 0;
    color: $white;
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

  .swiper-slide__link svg {
    stroke: #00b455;
  }

  .swiper-container .swiper-pagination {
    width: 75%;
    left: 50%;
    transform: translateX(-50%);

    span {
      margin: 0 10px;
      width: 100%;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;

    &:after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 5px;
  }

  .swiper-slide__content {
    padding-top: 15px;
  }
}