.title-sup {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #00B154;
  text-transform: uppercase;
}

.title {
  margin-bottom: 35px;
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
}

@media (max-width: 1279px) {
  .title-sup {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .title {
    margin-bottom: 25px;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .title {
    text-align: center;
  }

  .title-sup {
    text-align: center;
  }
}